@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
  width: max-content;
}
a:hover {opacity: 0.9;}

select,
button[type=submit],
input {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #555;
  padding: 0.5rem 0.75rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.5rem;
}

button[type=submit] {
  cursor: pointer;
  width: max-content;
  color: #fff;
  border: 0;
  background-color: #91181b;
}
button[type=submit]:hover {opacity: 0.75;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

hr {
  margin: 1rem 0;
}

#home {
  max-width: max-content;
  margin: auto;
  margin-top: 5rem;
}
#home img {
  display: block;
  margin: auto;
}
#home h1 {margin: 1rem 0;}
#home a.name {
  all: unset;
  margin-top: 1rem;
  display: block;
  position: relative;
  width: max-content;
  margin-left: auto;
  cursor: pointer;
}
#home a.name:hover {opacity: 0.75;}
#home a.name img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -1rem;
  height: 100%;
}

#oil_wells,
#bloc,
#arreglos_asociativos,
#octagono,
#hipotenusa {
  max-width: max-content;
  margin: 5rem auto;
}

#octagono form {
  display: flex;
  align-items: center;
}
#octagono input {
  margin-left: auto;
  margin-right: 0.5rem;
  text-align: right;
  width: 6rem;
}
#octagono label {
  margin-right: 0.5rem;
}
#arreglos_asociativos a,
#octagono a,
#hipotenusa a {
  margin-top: 0;
}

#arreglos_asociativos label {cursor: pointer;}

#arreglos_asociativos input {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

#arreglos_asociativos button[type=submit] {
  margin: auto;
  width: 100%;
}

#arreglos_asociativos h4 {
  margin-bottom: 0.5rem;
}
#arreglos_asociativos form .row {
  display: flex;
  gap: 1rem;
}
#arreglos_asociativos form .row label {
  width: 16rem;
}
#arreglos_asociativos form .row input {
  height: 2.625rem;
}
#arreglos_asociativos .restart {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.title {
  margin-bottom: 1rem;
  text-align: center;
}

.results p {display: flex;}
.results p span {margin-left: auto;}

.links {display: flex;}
body > a,
.links a {
  background-color: #91181b;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.links a:last-child {margin-left: auto;}

form span {
  cursor: pointer;
}
#bloc h3 {
  margin-bottom: 1rem;
  text-align: center;
}
#bloc form input[type='submit'] {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #fff;
  background-color: #91181b;
}
#bloc form select {
  border: none;
  padding: 0.25rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: #91181b;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  width: max-content;
}
#bloc form select option {
  border-radius: 0;
  background-color: #fff;
  color: #000;
  padding: 0;
}
#bloc form label span {
  display: block;
  margin-bottom: 0.5rem;
}
#bloc form textarea {
  font-family: inherit;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  resize: none;
  width: 100%;
}

#bloc .viewport {
  width: 40rem;
  height: 30rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  overflow-y: auto;
  margin-bottom: 1rem;
}
#bloc .viewport .path {
  overflow-x: auto;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#bloc .viewport .path > a {
  font-family: 'Poppins', sans-serif;
  flex-shrink: 0;
  padding: 0.75rem 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
  transition: ease-in-out 0.2s background-color, ease-in-out 0.2s color;
}
#bloc .viewport .path > a:hover {
  background-color: #91181b;
  color: #fff;
}

#bloc .viewport .directory {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-between;
}
#bloc .viewport .directory > a {
  height: max-content;
  max-width: 6rem;
  min-width: 6rem;
  flex: 1 0 auto;
}
#bloc .viewport .directory > a.last {
  flex: 100;
  visibility: hidden;
}

#bloc .viewport .directory > a img {
  max-height: 4.25rem;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
}

#bloc .viewport .directory > a span {
  word-break: break-all;
  text-align: center;
  font-size: 0.8rem;
  display: block;
}

#bloc .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000030;
}
#bloc .modal form {
  background-color: #fff;
  padding: 4rem 2rem;
  border-radius: 0.5rem;
  width: 40rem;
  display: grid;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#bloc .modal form .delete {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
#bloc input.hidden {
  display: none;
}
#bloc .modal form input {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #fff;
  background-color: #2ecc71;
}
#bloc .alert {
  background-color: #9ae8bb;
  border: 1px solid #1b7943;
  color: #1b7943;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -4rem);
  animation: show-alert 3s ease-in-out;
}
#bloc .alert.success {
  background-color: #9ae8bb;
  border: 1px solid #1b7943;
  color: #1b7943;
}
#bloc .alert.error {
  background-color: #ee8478;
  border: 1px solid #e3301e;
  color: #e3301e;
}

#oil_wells.loading * {
  cursor: progress!important;
}
#oil_wells input.hidden {
  display: none;
}

#oil_wells .wells {
  display: grid;
  gap: 1rem;
  height: 22rem;
  overflow-y: auto;
  padding: 1rem;
}

#oil_wells .well_form_container form {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

#oil_wells .well_form_container .title {
  text-align: center;
  margin: 1rem 0;
}
#oil_wells .add_btn,
#oil_wells .read_btn,
#oil_wells .update_btn,
#oil_wells .delete_btn,
#oil_wells .return_btn,
#oil_wells .graph_btn, 
#oil_wells .reset_btn {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0;
  display: block;
  margin: auto;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
#oil_wells .add_btn {
  background-color: #2ecc71;
  background-image: url('../assets/buttons/add.svg');
}
#oil_wells .read_btn {
  background-color: #f1c40f;
  background-image: url('../assets/buttons/read.svg');
}
#oil_wells .update_btn {
  background-color: #3498db;
  background-image: url('../assets/buttons/update.svg');
}
#oil_wells .delete_btn {
  background-color: #e3301e;
  background-image: url('../assets/buttons/delete.svg');
}
#oil_wells .return_btn {
  background-color: #d35400;
  background-image: url('../assets/buttons/return.svg');
}
#oil_wells .graph_btn {
  background-color: #9b59b6;
  background-image: url('../assets/buttons/graph.svg');
}
#oil_wells .reset_btn {
  background-color: #e3301e;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 2.5rem;
  width: 100%;
  margin-top: 1rem;
}


#oil_wells .well_form_container form button {
  height: 2.5rem;
  width: 2.5rem;
  background-size: 1.5rem;
}

#oil_wells .well_form_container form input {
  height: 100%;
}
#oil_wells .well_form_container form button svg {
  fill: #fff;
  width: 1.75rem;
  height: 1.75rem;
}

#oil_wells > button:active {
  opacity: 0.9;
}

#oil_wells .wells .well {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

#oil_wells .wells .well .operations {
  display: flex;
  gap: 0.75rem;
}
#oil_wells .wells .well .operations > button {
  width: 2rem;
  height: 2rem;
  background-size: 1rem;
  cursor: pointer;
}

#oil_wells .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000030;
}
#oil_wells .modal > div {
  background: #fff;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  width: 30rem;
  min-height: 30rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#oil_wells .modal > div > .delete_btn {
  height: 1.75rem;
  width: 1.75rem;
  background-size: 1rem;
  position: absolute;
  right: 1rem;
}

#oil_wells .modal h3 {
  text-align: center;
  margin-bottom: 1rem;
}

#oil_wells .modal .measurements {
  height: 20rem;
  margin-bottom: 1rem;
  overflow-y: auto;
}
#oil_wells .modal .measurements .item {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#oil_wells .modal .measurements .item:nth-child(odd) {
  background-color: #f4f4f4;
}
#oil_wells .modal .measurements .item .id {
  width: 1rem;
  font-size: 0.75rem;
}

#oil_wells .modal .measurements .item b {
  margin-left: 1rem;
}
#oil_wells .modal .measurements .item.center {
  display: block;
  text-align: center;
}

#oil_wells .modal .measurements .operations {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#oil_wells .modal .measurements .update_btn,
#oil_wells .modal .measurements .delete_btn {
  height: 1.75rem;
  width: 1.75rem;
  background-size: 1rem;
}

#oil_wells .modal form {
  display: grid;
  gap: 0.5rem;
}
#oil_wells .modal form button {
  height: 2.5rem;
  width: 100%;
  background-size: 2rem;
}

#lab form label {
  margin-top: 1rem;
  display: block;
}

#lab form label span {
  display: block;
  margin-bottom: 0.5rem;
}

#lab form .submit {
  margin-top: 1rem;
  background-color: #91181b;
  color: #fff;
}

#lab form .submit:hover {
  opacity: 0.9;
}

#lab input[type="text"]:read-only {
  background-color: #f4f4f4;
  color: #555;
}

#lab {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#lab .output {
  margin-top: 1rem;
}
#lab .output.success { color: #2ecc71;}
#lab .output.error { color: #e3301e;}
#lab .output.info { color: #3498db;}

#lab .link {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}

#lab a {
  color: #3498db;
}

#lab a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

#lab form label.radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#lab form label.radio input {
  width: auto;
  margin-left: auto;
}

#lab .exams,
#lab .patients {
  height: 15rem;
  overflow-y: auto;
}
#lab .user {
  margin-bottom: 1rem;
}

#lab .user .item,
#lab .exams .item,
#lab .patients .item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0.5rem;
}

#lab .patients .item {
  grid-template-columns: 1fr 15rem 1fr 1fr 1fr;
}


#lab .exams .item {
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
#lab .exams .item.lg {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#lab .user .item:nth-child(odd),
#lab .exams .item:nth-child(odd),
#lab .patients .item:nth-child(odd) {
  background-color: #f4f4f4;
}

#lab .patients .item .name {
  width: 6rem;
}

#lab .user   .item.header,
#lab .patients .item.header,
#lab .exams .item.header {
  background-color: #555;
  color: #fff;
}

#lab form textarea {
  font-family: inherit;
  padding: 1rem;
  resize: none;
  width: 100%;
}

#lab .hidden {
  display: none;
}




@keyframes show-alert {
  0% {
    transform: translate(-50%, -4rem);
  }
  10%,
  50%,
  90% {
    transform: translate(-50%, 2rem);
  }
  100% {
    transform: translate(-50%, -4rem);
  }
}