@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
  background-color: #91181b;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  width: max-content;
  margin-top: 1rem;
}
a:hover {opacity: 0.9;}

button[type=submit],
input {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #555;
  padding: 0.5rem 0.75rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.5rem;
}

button[type=submit] {
  cursor: pointer;
  width: max-content;
  color: #fff;
  border: 0;
  background-color: #91181b;
}
button[type=submit]:hover {opacity: 0.75;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

hr {
  margin: 1rem 0;
}

#home {
  max-width: max-content;
  margin: auto;
  margin-top: 5rem;
}
#home img {
  display: block;
  margin: auto;
}
#home h1 {margin: 1rem 0;}
#home a.name {
  all: unset;
  margin-top: 1rem;
  display: block;
  position: relative;
  width: max-content;
  margin-left: auto;
  cursor: pointer;
}
#home a.name:hover {opacity: 0.75;}
#home a.name img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -1rem;
  height: 100%;
}

#bloc,
#arreglos_asociativos,
#octagono,
#hipotenusa {
  max-width: max-content;
  margin: 5rem auto;
}

#octagono form {
  display: flex;
  align-items: center;
}
#octagono input {
  margin-left: auto;
  margin-right: 0.5rem;
  text-align: right;
  width: 6rem;
}
#octagono label {
  margin-right: 0.5rem;
}
#arreglos_asociativos a,
#octagono a,
#hipotenusa a {
  margin-top: 0;
}

#arreglos_asociativos label {cursor: pointer;}

#arreglos_asociativos input {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

#arreglos_asociativos button[type=submit] {
  margin: auto;
  width: 100%;
}

#arreglos_asociativos h4 {
  margin-bottom: 0.5rem;
}
#arreglos_asociativos form .row {
  display: flex;
  gap: 1rem;
}
#arreglos_asociativos form .row label {
  width: 16rem;
}
#arreglos_asociativos form .row input {
  height: 2.625rem;
}
#arreglos_asociativos .restart {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.title {
  margin-bottom: 1rem;
  text-align: center;
}

.results p {display: flex;}
.results p span {margin-left: auto;}

.links {display: flex;}
.links a {display: block;}
.links a:last-child {margin-left: auto;}

#bloc .viewport {
  width: 40rem;
  height: 30rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
